* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    width: 1440px;
    margin: 0 auto;
}

.promo {
    width: 1440px;
    display: block;
    height: 1070px;
    background: #555555;

}

.logo_img {
    display: block;
    position:absolute;
    width: 107px;
    height: 109px;
    left: 85px;
    top: 23px;
    
    background: url(/src/img/Cube\ new\ version-05\ 1.png) center center / cover no-repeat; 
}

.logo_text {
    position:absolute;
    display: block;
    width: 96px;
    height: 24.75px;
    left: 200px;
    top: 69px;

    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;

}

.logo_login_img {
    display: block;
    position:absolute;
    height: 24.990398406982422px;
    width: 26px;
    left: 404px;
    top: 69px;
    border-radius: 0px;
    

}

.logo_login_head {
    display: block;
    position:absolute;
    height: 8.330131530761719px;
    width: 8.667840003967285px;
    left: 412.667724609375px;
    top: 72.33203125px;
    border-radius: 0px;    
}

.login {
    display: block;
    position:absolute;
    width: 49px;
    height: 25px;
    left: 444px;
    top: 69px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    height: 25px;
    width: 49px;
    left: 444px;
    top: 69px;
    border-radius: nullpx;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;  
}

.first_text {
    position:absolute;
    display: block;
    width: 643px;
    height: 140px;
    left: 100px;
    top: 275px;



    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 70px;
    border-radius: nullpx;

    color: #FFFFFF;
}

.first_text .brr {
    padding-right: 200px;
}

.bgc {
    position: absolute;
    width: 125px;
    height: 125px;
    left: 93px;
    top: 470px;

    background: rgba(96, 92, 234, 0.5);
    filter: blur(100px);
}

.wt_stick {
    position: absolute;
    width: 139.43px;
    height: 0px;
    left: 80px;
    top: 563px;

    border: 3px solid #FFFFFF;
    transform: rotate(120.61deg);
}

.second_text {
    position: absolute;
    width: 380px;
    height: 81px;
    left: 205px;
    top: 544px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
}

.third_text {
    position: absolute;
    width: 413px;
    height: 70px;
    left: 100px;
    top: 892px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 70px;
    /* identical to box height, or 200% */
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
}

.bgc_2 {
    position: absolute;
    width: 662.63px;
    height: 783.03px;
    left: 835.35px;
    top: 500.31px;

    background: rgba(250, 0, 255, 0.2);
    filter: blur(250px);
    transform: rotate(-105.26deg);
    
}

.footr {
    position: absolute;
    width: 1440px;
    height: 93px;
    left: 0px;
    top: 977px;

    background: #212834;
}

.footr .four_text {
    position: absolute;
    width: 610px;
    height: 19px;
    left: 100px;
    top: 36px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    color: #FFFFFF;
}

.btn {
    position: absolute;
    width: 132px;
    height: 50px;
    left: 1284px;
    top: 21px;
    
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #FFFFFF;
    border-radius: 6px;
}

.five_text {
    position: absolute;
    width: 50.16px;
    height: 28.79px;
    left: 1325px;
    top: 36px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}
