* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url(/src/img/bg/first.jpg) center center / cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo_img {
    position: absolute;
    width: 107px;
    height: 109px;
    left: 85px;
    top: 23px;
    
    background: url(/src/img/Cube\ new\ version-05\ 1.png) center center / cover no-repeat; 
}

.logo_text {
    position: absolute;
    width: 96px;
    height: 24.75px;
    left: 200px;
    top: 69px;
}